<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap"
      rel="stylesheet">
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
	

<page size="A4" class="container">
  {{#resume.basics}}
    <div class="top">
      <div class="name">{{name}}</div>
      <div class="title">{{label}}</div>
    </div>
  {{/resume.basics}}
  <div class="middle">
    <div class="left">

      {{#resume.basics}}
        <div class="block">
          <div class="title">Contacts</div>
          {{#if phone}}
            <div class="text">{{phone}}</div>
          {{/if}}
          <a href="mailto:{{email}}" target="_blank" class="text">{{email}}</a>

          {{#if website}}
            <a href="{{website}}" target="_blank" class="text">{{website}}</a>
          {{/if}}

          {{#if profiles.length}}
            {{#each profiles}}
              <a href="{{url}}" target="_blank" class="text">{{network}}</a>
            {{/each}}
          {{/if}}
        </div>
      {{/resume.basics}}


      {{#if resume.basics.summary}}
        <div class="block">
          <div class="title">Summary</div>
          <div class="text summary">{{{resume.basics.summary}}}</div>
        </div>
      {{/if}}
      {{#if resume.languages.length}}
        <div class="block">
          <div class="title">Languages</div>
          {{#each resume.languages}}
            <div class="text"><span class="stress">{{language}}</span> {{fluency}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if resume.education.length}}
        <div class="block">
          <div class="title">Education</div>

          {{#each resume.education}}
            <div class="text">
              <div class="stress">{{#if studyType}}{{studyType}}{{/if}}</div>
              <p>{{#if area}}{{area}}{{/if}}</p>
              {{#if institution}}
              <div>{{institution}}{{/if}}{{#if startDate}}
              <span class='date'>, {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}
                Present{{/if}}</span>
            {{/if}}
            </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="right">


      <div class="block experience">
        {{#each resume.work}}
          <div class="company">
            <div class="title"> {{position}}</div>
            <div class="subtitle">
              <div class="companyName">
                {{#if website}}
                  <a href="{{website}}" target="_blank">{{name}}</a>
                {{else}}
                  {{name}}
                {{/if}}
              </div>
              <div class="when">{{startDate}} – {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</div>
              {{#if location}}
                <div class="where">{{location}}</div>{{/if}}
            </div>
            {{#if summary}}
              <div class="about">
                <div class='details'>{{summary}}</div>
                {{#if stack}}
                <div class='stack'> Stack: {{stack}}</div>
                {{/if}}
              </div>
            {{/if}}
            <ul class="about-list">
              {{#if highlights.length}}
                {{#each highlights}}
                  <li class='details'>{{this}}</li>
                {{/each}}

              {{/if}}
            </ul>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</page>

	</body>
</html>
